## User settings
GameOfLife/xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
GameOfLife/*.xcscmblueprint
GameOfLife/*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
GameOfLife/build/
GameOfLife/DerivedData/
GameOfLife/*.moved-aside
GameOfLife/*.pbxuser
GameOfLife/!default.pbxuser
GameOfLife/*.mode1v3
GameOfLife/!default.mode1v3
GameOfLife/*.mode2v3
GameOfLife/!default.mode2v3
GameOfLife/*.perspectivev3
GameOfLife/!default.perspectivev3

## Gcc Patch
GameOfLife/*.gcno

GameOfLife.xcodeproj
